
      *{
        padding: 0;
        margin: 0;
      }
      body{
        width: 100vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        font-family: monospace;
        background: rgb(40, 100, 100);
      }
      .container{
        min-width: 700px
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
      }
      h1{
        color: white;
        font-size: 2rem;
      }
.todo-form{
  margin: 40px 0px;
  background: white:
  padding: 25px 30px;
  border-radius: 2px;
}
.todo-input{
  width: 250px;
  outline: none;
  border-radius: 3px
  padding: 12px;
  border: 2px solid rgb(100, 90, 90);
  margin-right: 10px;
  font-size: 1rem;
}
.add-button{
  background: rgb(100, 20, 100);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 12px 20px;
  font-size: 1.2rem;
}

.file-list{
  padding: 20px;
  background: white;
  border-radius: 3px;
}
.todo-items{
  min-width: 350px;
}
